<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout">
<head>
<title>Buyer Order</title>
</head>
<body>
	<div layout:fragment="content" class="container">
		<div class="page-header header-background">
			<h1>New Buyer Order</h1>
		</div>
		<div class="row vertical-align">
			<div class="col-md-10">
				<form id="createOrder" th:action="@{/buyerorder/create}"
					action="#" method="post" role="form" class="form-horizontal"
					th:object="${order}">
					<div class="row" th:if="${#fields.hasErrors('*')}">
						<div class="col-md-12">
							<div class="note note-danger">
								<h4>Validation errors</h4>
								<p th:each="error : ${#fields.errors('*')}" th:text="${error}">Validation
									errors</p>
							</div>
						</div>
					</div>
					<div class="row">
						<fieldset>
							<h4>Order Details</h4>
							<div class="form-group">
								<label for="first-name" class="control-label col-md-2">Name</label>
								<div class="col-md-4">
									<input type="text" th:field="*{name}" placeholder="Name"
										class="form-control input-sm mandatory" id="name"
										required="required" pattern="/^[\w'\s]+$/" />
								</div>
								<label for="pin-code" class="control-label col-md-2">Pin
									Code</label>
								<div class="col-md-4">
									<input type="number" th:field="*{pinCode}"
										placeholder="Pin Code" class="form-control input-sm mandatory"
										id="pinCode" required="required" />
								</div>
							</div>
							<div class="form-group">
								<label for="description" class="control-label col-md-2">Description</label>
								<div class="col-md-4">
									<textarea th:field="*{description}" placeholder="Description"
										class="form-control mandatory" id="description"
										required="required"></textarea>
								</div>
								<label for="account" class="control-label col-md-2">Account</label>
								<div class="col-md-4">
									<select class="form-control mandatory" id="organization"
											required="required" th:field="*{account}">
										<option th:each="account:${accounts}" th:value="${account.id}"
												th:text="${account.name}">Buyer Account</option>
									</select>
								</div>
							</div>
							<hr/>
							<h4>Order Item Details</h4>
							<div class="form-group">
								<label for="orderItem.Product" class="control-label col-md-2">Product</label>
								<div class="col-md-4">
									<!--
									<select class="form-control mandatory" id="orderItem.product"
											required="required" th:field="*{orderItems[0].product}">
										<option value="" hidden="">Select Product</option>
										<option th:each="product: ${products}" th:value="${product.id}"
												th:text="${product.name}">Product</option>
									</select>
									-->
									<input type="text" th:field="*{orderItems[0].product}" th:placeholder="${product.name}"
										   th:value="${product.id}" class="form-control input-sm mandatory" id="orderItem.product"
										   readonly="readonly" />
								</div>
							</div>
							<div class="form-group">
								<label for="produceGrade" class="control-label col-md-2">Produce Grade</label>
								<div class="cil-md-4">
									<select class="form-control-mandatory" id="produceGrade" name="produceGrade">
										<option
												th:each="type : ${T(ourfood.domain.enums.ProduceGrade).values()}"
												th:text="#{'produceGrade.' + ${type}}" th:value="${type}"
												th:selected="#{type == order.produceGrade}">Produce Grade</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label for="orderItem.Quantity" class="control-label col-md-2">Quantity</label>
								<div class="col-md-4">
									<input type="text" th:field="*{orderItems[0].quantity}"
										   placeholder="Quantity" class="form-control mandatory"
										   id="order.orderItems[0].quantity" required="required" />
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-md-2"></label>
								<div class="col-md-4">
									<input type="submit" class="btn btn-sm btn-success"
										value="Save" />
								</div>
							</div>
						</fieldset>
					</div>
				</form>
			</div>
		</div>
	</div>
	<script layout:fragment="script" type="text/javascript">
		$(document).ready(function() {
			$('#createOrder').parsley();
		});
	</script>
</body>
</html>