<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="layout"
	th:with="navsection='home', navlink='history'">
<head>
<title>Action Sets</title>
</head>
<body data-navlink="Approve Orgs">
	<div layout:fragment="content" class="container-fluid">
				<h1 class="page-header">
					Organizations <small>Organizations Pending Approval</small>
				</h1>
		<div class="row">
			<!-- begin col-12 -->
			<div class="col-md-12 ui-sortable">
				<!-- begin panel -->
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">Organizations</h4>
					</div>
					<div class="panel-body">
						<div class="table-responsive">
							<table class="table" id="organization-list">
								<thead>
									<tr>
										<th>Name</th>
										<th>Actions</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<th:block th:each="organization : ${organizations}">
										<tr th:attr="data-organization-id=${organization.id}">
											<td><a th:href="@{view/{id}(id=${organization.id})}" th:text="${organization.name}" title="Organization Details">Name</a></td>
											<td><a href="javascript:;" data-action="approve">Approve</a></td>
											<td><a href="javascript:;" data-action="reject">Reject</a></td>
										</tr>
									</th:block>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<!-- end panel -->
			</div>
			<!-- end col-12 -->
		</div>
	</div>
	<script type="text/javascript" layout:fragment="script">
	$(document).ready(function() {
		$("a[data-action=approve]").click(function() {
			$.post("approve", {organizationId: $(this).parents("tr").data("organizationId")});
		});
		$("a[data-action=reject]").click(function() {
			$.post("reject", {organizationId: $(this).parents("tr").data("organizationId")});
		});
	})
	</script>
</body>
</html>