/*
@media (max-width: 786px) {
	.container {
	 padding:2;
	 margin:2;
	}
      
    body {
     padding:0;
    }  
}
*/

/***** ace-admin styles override *****/
.user-info{
	max-width:200px;
}

.nav-list li.active > a:after {
  display: none;
  content: "";
  position: absolute;
  /*! right: 0; */
  /*! top: 4px; */
  /*! border: 8px solid transparent; */
  /*! border-width: 14px 10px; */
}
/***** ace-admin styles override *****/



.page-content.unauth {
	padding: 5px 2px 2px 2px;
}

.as-list-container {
	margin: 2px;
}

.as-list-item {
	padding: 2px;
}

.as-img-block {
	position: relative;
	height: 120px;
	background-color: #0C92C4;
}

.as-title {
	padding: 10px;
	font-size: 20px;
	color: white;
}

.as-description {
	padding: 10px;
	font-size: 12px;
	color: white;
}

.as-templ-title:first-letter {
	text-transform: uppercase;
}

.as-templ-title {
	padding: 10px;
	/*position: absolute;*/
	bottom: 0px;
	right: 0px;
	font-size: 20px;
	color: white;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	margin-top: 20px;
	text-align: right;
	text-transform: lowercase;
}

.a-list {
	padding: 5px;
}

.a-title {
	font-family: Segoe UI, "Open Sans";
	font-size: 14px;
	color: dark-gray;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.as-list-item .a-title {
	width: 260px;
}

.a-data {
	font-family: Segoe UI, "Open Sans";
	font-size: 12px;
	color: gray;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.as-list-item .a-data {
	width: 300px;
}

.as-list-item .a-date {
	font-family: Segoe UI, "Open Sans";
	font-size: 11px;
	color: gray;
	position: absolute;
	bottom: 0px;
	right: 0px;
	padding: 3px;
}

class ="page-header list-container title "

.a-desc {
	font-family: verdana;
	color: #d3d3d3;
}

.list-container .title {
	width: 300px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.flaticon-bg {
	border: 0px solid #0C92C4;
	height: 50px;
	width: 50px;
	background-color: #0C92C4;
	border-radius: 50px;
	text-align: center;
	vertical-align: middle;
}

.ico-bg-default {
	border: 0px solid #0C92C4;
	background-color: #0C92C4;
}

.ico-bg-blue {
	border: 0px solid #51BFE9;
	background-color: #51BFE9;
}

.ico-bg-purple {
	border: 0px solid #E18BBE;
	background-color: #E18BBE;
}

.ico-bg-brown {
	border: 0px solid #E49F65;
	background-color: #E49F65;
}

.ico-bg-red {
	border: 0px solid #F57494;
	background-color: #F57494;
}

.ico-bg-cyan {
	border: 0px solid #04C8A5;
	background-color: #04C8A5;
}

.ico-bg-green {
	border: 0px solid #82CF7A;
	background-color: #82CF7A;
}

.ico-bg-crimson {
	border: 0px solid #DA7276;
	background-color: #DA7276;
}

a.no-deco:hover, a.no-deco:link, a.no-deco:visited, a.no-deco:active {
	text-decoration: none;
	color: #f5f5f5;
}

.pd-left-5 {
	padding-left: 5px;
}

.action-images:after {
	font-size: 40px;
	font-style: normal;
	margin-left: 5px;
	padding: 5px;
}

#delete-action-name {
	font-weight: bold;
	color: red;
}

.actionset-logo {
	height: 64px;
	width: 64px;
}

.infobox INPUT {
	position: absolute;
	left: 5px;
	top: 5px;
}

/* used in view for displying actions preview */
#actions-preview {
	position: absolute;
	top: 73px;
	height: 460px;
	z-index: 1;
	background: white;
	width: 305px;
}

/* to position mobile no on image  */
#mobile-number-preview {
	position: absolute;
	font-size: 15px;
	margin: 132px 130px 130px 70px;
}

/* For setting color to disabled actions */
.action-disabled {
	background-color: rgb(245, 211, 211);
}
/* For setting color to flaticon of disabled actions */
.action-disabled>.media-left {
	background-color: rgb(233, 144, 144);
}

.title-data-right {
	position: absolute;
	right: 0px;
	top: 0px;
	padding: 3px;
}

.a-data-right {
	margin-left: 230px;
}

.ag-view-components {
	position: absolute;
	right: 0px;
	top: 0px;
	padding: 3px;
}

.std-container {
	border-collapse: collapse;
	border: 1px solid lightgray;	
}

.std-container-height {
	min-height:600px;
}

.page-header > h1 > span {
	font-size: 18px;
} 

.bottom-right {
	position: relative;
	padding-right:15px;
}

.mandatory {
	border-left: 3px solid orange !important;
}

.header-background{
	background-color: #EFF3F8;
}

.dataTables_wrapper .row {
	background-color: transparent !important;
}

.profile-info-name {
	width: 200px;
}


.footer{
	padding-top:0px;
	height: 36px;
}

.footer .footer-inner .footer-content {
	line-height: 15px;
}