<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="static">
<head>
<title>ScanOn - Feedback</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div layout:fragment="content" class="container">
		<div class="embed-responsive embed-responsive-16by9">
			<iframe id="feedback_results" src="http://goo.gl/forms/FA3Xlv8Adv"> </iframe>
		</div>
	</div>

</body>
</html>
