<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="static">
<head>
<title>Home</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div class="container" layout:fragment="content">
		<div layout:fragment="content" class="content bg-silver-lighter">
			<div data-animation-type="fadeInDown" data-animation="true"
				class="container fadeInDown contentAnimated">
				<h2 class="content-title">Help</h2>
			</div>
		</div>
	</div>
</body>
</html>
