<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	xmlns:static="http://thymeleafexampes"
	xmlns:sec="http://springsecurity">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta charset="utf-8" />
<meta name="description" content="Applite Admin" />
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
<title>Applites</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css"/>
<link rel="stylesheet" static:href="@{/js/toastr/toastr.min.css}" />
<link rel="stylesheet" static:href="@{/css/bootstrap.css}" />
<link rel="stylesheet" static:href="@{/css/font-awesome.css}" />
<link rel="stylesheet" static:href="@{/css/ace.css}" />
<link rel="stylesheet" static:href="@{/css/static.css}" />
<link rel="stylesheet" static:href="@{/css/flaticon.css}" />
<link rel="stylesheet" static:href="@{/css/scanon-ext.css}" />
<link rel="stylesheet"
	static:href="@{/css/tinymce/skins/lightgray/skin.min.css}" />
<!-- <link rel="stylesheet" static:href="@{/css/fonts.googleapis.com.css}" /> -->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300'
	rel='stylesheet' type='text/css' />
<link static:href="@{/js/select2/css/select2.min.css}" rel="stylesheet" />
<!--[if lte IE 9]>
        <link rel="stylesheet" static:href="@{/css/ace-part2.min.css" />
        <link rel="stylesheet" static:href="@{/css/ace-ie.min.css" />
        <![endif]-->
<!--[if lte IE 8]>
        <script static:src="@{/js/html5shiv.min.js}"></script>
        <script static:src="@{/js/respond.min.js}"></script>
        <![endif]-->
</head>
<body class="no-skin">
	<div id="navbar"
		class="navbar navbar-default navbar-fixed-top navbar-collapse h-navbar">
		<div class="navbar-container" id="navbar-container">
			<button type="button" class="navbar-toggle menu-toggler pull-left"
				id="menu-toggler" data-target="#sidebar">
				<span class="sr-only">Toggle sidebar</span> <span class="icon-bar"></span>
				<span class="icon-bar"></span> <span class="icon-bar"></span>
			</button>
			<div class="navbar-header pull-left">
				<a href="#" class="navbar-brand"> <img th:if="${as.logoUrl != null AND as.logoUrl != ''}"
					style="height: 26px; display: inline" th:src="${as.logoUrl}"
					alt="" /> <img th:if="${as.logoUrl} == null OR ${as.logoUrl} == ''"
					style="height: 26px; display: inline"
					static:src="@{/images/logos/applite-logo.png}" 
					alt="" />
				</a>
				<nav role="navigation" class="navbar-menu pull-left collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li>
							<a id="auth-applites-dropdown" aria-expanded="true" href="#" class="dropdown-toggle" data-toggle="dropdown">
								<span th:text="${as.title}" style="font-size:18px"></span>&nbsp;
								<i class="ace-icon fa fa-angle-down bigger-110"></i>
							</a>							
							<ul class="dropdown-menu dropdown-light-blue dropdown-caret" id="auth-applites">
								<li>
									<span>Loading... Please wait...</span>
								</li>								
							</ul>							 
						</li>						
					</ul>					
				</nav>
			</div>
			<div class="navbar-buttons navbar-header pull-right"
				role="navigation">
				<ul class="nav ace-nav">
					<li class="purple"
						th:with="notifications=${@notificationService.getNotifications(#authorization.authentication.getPrincipal().id)}"><a
						data-toggle="dropdown" class="dropdown-toggle" href="#"> <i
							class="ace-icon fa fa-bell"
							th:classappend="${notifications.getTotalElements() > 0} ? 'icon-animated-bell'"></i>
					</a>
						<ul
							class="dropdown-menu-right dropdown-navbar navbar-pink dropdown-menu dropdown-caret dropdown-close">
							<li class="dropdown-header"><i
								class="ace-icon fa fa-exclamation-triangle"></i> <th:block
									th:text="${notifications.getTotalElements()}"></th:block>
								Notifications</li>
							<li class="dropdown-content">
								<ul class="dropdown-menu dropdown-navbar navbar-pink">
									<li th:each="notification: ${notifications}"
										th:if="${notifications.getTotalElements() > 0}"><a
										href="#">
											<div class="clearfix">
												<span class="pull-left"> <i
													class="btn btn-xs no-hover btn-pink fa fa-comment"></i> <th:block
														th:text="${notification.message}"></th:block>
												</span>
											</div>
									</a></li>
									<li th:unless="${notifications.getTotalElements() > 0}">
										<div class="clearfix">
											<span class="pull-left"> <i
												class="btn btn-xs no-hover btn-pink fa fa-comment"></i> No
												new Notifications
											</span>
										</div>
									</li>
								</ul>
							</li>
						</ul></li>
					<li class="light-blue"><a data-toggle="dropdown" href="#"
						class="dropdown-toggle"> <!-- <img class="nav-user-photo"
							src="assets/avatars/user.jpg"
							static:src="@{/images/avatars/user.jpg}" alt="User's Photo" />  -->
							<span class="user-info"> <small>Welcome,</small> <span
								sec:authentication="name">User</span>
						</span> <i class="ace-icon fa fa-caret-down"></i>
					</a>
						<ul
							class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
							<!-- <li><a th:href="@{/construction}" href="#"> <i
									class="ace-icon fa fa-cog"></i> Settings
							</a></li> -->
							<!-- <li><a href="#"
								sec:authorize="hasRole('PERM_PLATFORM_UPDATE')"> <i
									class="ace-icon fa fa-user"></i> Profile
							</a></li> -->
							<li><a th:href="@{/users/change-pwd}" href="#"> <i
									class="ace-icon fa fa-key"></i> Change Password
							</a></li>
							<!-- <li><a th:href="@{/users/impersonate}" href="#"
								sec:authorize="hasRole('PERM_PLATFORM_UPDATE')"> <i
									class="ace-icon fa fa-user-secret"></i> Impersonate
							</a></li> -->
							<li class="divider"></li>
							<li><a href="#" th:href="@{/users/logout}"> <i
									class="ace-icon fa fa-power-off"></i> Logout
							</a></li>
						</ul></li>
				</ul>
			</div>		
		</div>
		<!-- /.navbar-container -->
	</div>
	<div class="main-container" id="main-container">
		<div id="sidebar"
			class="sidebar responsive sidebar-fixed sidebar-scroll">
			<ul class="nav nav-list">			
				<li th:classappend="${navlink} == 'Home' ? active : ''"><a th:href="@{/as/details/{actionSetId}(actionSetId=${as.id})}"> <i class="menu-icon fa fa-home fa-fw"></i>
						<span class="menu-text">Home </span>
				</a></li>
				<li th:classappend="${navlink} == 'Design' ? active : ''"><a th:href="@{/as/view/{actionSetId}(actionSetId=${as.id})}"> <i
						class="menu-icon fa fa-paint-brush fa-fw"></i> <span
						class="menu-text">Design</span></a></li>
				<li th:classappend="${navlink} == 'Users' ? active : ''"><a th:href="@{/as/users/{actionSetId}(actionSetId=${as.id})}"> <i
						class="menu-icon fa fa-users fa-fw"></i> <span
						class="menu-text">Users</span></a></li>
				<li th:classappend="${navlink} == 'Groups' ? active : ''"><a th:href="@{/as/groups/{actionSetId}(actionSetId=${as.id})}"> <i
						class="menu-icon fa fa-table fa-fw"></i> <span
						class="menu-text">Groups</span></a></li>
				<!-- <li th:classappend="${navlink} == 'Surveys' ? active : ''"><a href="#"> <i
						class="menu-icon fa fa-pie-chart fa-fw"></i> <span
						class="menu-text">Surveys</span></a></li> -->
				<li th:classappend="${navlink} == 'Messages' ? active : ''"><a th:href="@{/as/messages/{actionSetId}(actionSetId=${as.id})}"> <i
						class="menu-icon fa fa-commenting-o fa-fw"></i> <span
						class="menu-text">Messages</span></a></li>
			</ul>
			<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
				<i class="ace-icon fa fa-angle-double-left"
					data-icon1="ace-icon fa fa-angle-double-left"
					data-icon2="ace-icon fa fa-angle-double-right"></i>
			</div>
		</div>
		<div class="main-content">
			<div class="main-content-inner">
				<div id="alert-container">
					<div class="alert alert-success alert-dismissable fade in"
						th:if="${message_disabled}">
						<button type="button" class="close" data-dismiss="alert"
							aria-hidden="true">&times;</button>
						<span th:text="${message}">Success! Well done its
							submitted.</span>
					</div>
				</div>
				<input type="hidden" th:value="${successMessage}" id="successMsg"/>
				<input type="hidden" th:value="${errorMessage}" id="errorMsg"/>
				<input type="hidden" th:value="${warningMessage}" id="warningMsg"/>
				<input type="hidden" th:value="${infoMessage}" id="infoMsg"/>
				<div class="page-content" layout:fragment="content"></div>
			</div>
		</div>
		<div class="footer">
			<div class="footer-inner">
				<div class="footer-content">
					<span> <span class="blue bolder">AppLite</span>
						Platform &copy; 2015-2016
					</span>
					<!-- &nbsp; &nbsp; <span class="action-buttons"> <a href="#">
							<i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
					</a> <a href="#"> <i
							class="ace-icon fa fa-facebook-square text-primary bigger-150"></i>
					</a> <a href="#"> <i
							class="ace-icon fa fa-rss-square orange bigger-150"></i>
					</a>
					</span> -->
				</div>
			</div>
		</div>
		<a href="#" id="btn-scroll-up"
			class="btn-scroll-up btn btn-sm btn-inverse"> <i
			class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
		</a>
	</div>
	<div class="modal fade" id="feedback" tabindex="-1" role="dialog"
		aria-labelledby="feedbackModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="feedbackModalLabel">Feedback</h4>
				</div>
				<form action="/feedback" method="post" class="form-horizontal">
					<div class="modal-body clearfix">
						<div class="form-group">
							<label for="title" class="control-label col-md-3">Title</label>
							<div class="col-md-9">
								<input type="text" class="form-control" name="title"
									maxlength="225" />
							</div>
						</div>
						<div class="form-group">
							<label for="title" class="control-label col-md-3">Email</label>
							<div class="col-md-9">
								<input type="email" class="form-control" name="email"
									maxlength="225" />
							</div>
						</div>
						<div class="form-group">
							<label for="codes0" class="control-label col-md-3">Message</label>
							<div class="col-md-9">
								<textarea name="message" class="form-control" maxlength="225"
									required="required"></textarea>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<input type="submit" class="btn btn-success" value="Submit" />
						<button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		window.ParsleyConfig = {
			validators : {
				isJson : {
					fn : function(value) {
						try {
							JSON.parse(value);
						} catch (e) {
							return false;
						}
						return true;
					}
				}
			},
			i18n : {
				en : {
					isjson : "This value should be a valid JSON. E.g. { \"key\" : \"value\"}"
				}
			}
		};
	</script>
	<a class="feedback btn btn-info" data-toggle="modal"
		data-target="#feedback" style="display: none">Feedback</a>
	<script static:src="@{/js/date-time/moment.js}" type="text/javascript"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.6/Chart.min.js"></script>
	<script static:src="@{/js/jquery.js}"></script>
	<script static:src="@{/js/bootstrap.js}"></script>
	<script static:src="@{/js/toastr/toastr.min.js}"></script>
	<!-- ace scripts -->
	<script static:src="@{/js/ace-elements.js}"></script>
	<script static:src="@{/js/ace.js}"></script>
	<script static:src="@{/js/custom/alert.js}"></script>
	<th:block layout:fragment="scripts"></th:block>
	<script type="text/javascript">
		//for closing the messages
		$(document).ready(function() {			
			
		$("#auth-applites-dropdown").on("click", function() {

				if ($("#auth-applites").data("loaded") != "1") {
					$("#auth-applites").load('/as/auth-applites', function() {
						$("#auth-applites").data("loaded", "1");						
					});
				}
			});

			setTimeout(function() {
				$('.close').trigger('click');
			}, 5e3);

			if ($("#successMsg").val().length > 0) {
				showMessage($("#successMsg").val(), '', 'success');
			}
			if ($("#errorMsg").val().length > 0) {
				showMessage($("#errorMsg").val(), '', 'error');
			}
			if ($("#warningMsg").val().length > 0) {
				showMessage($("#warningMsg").val(), '', 'warning');
			}
			if ($("#infoMsg").val().length > 0) {
				showMessage($("#infoMsg").val(), '', 'info');
			}
		});
	</script>
	<script type="text/javascript" layout:fragment="script"></script>
	<script type="text/javascript">
	//exclude parsley validate for radio buttons
	window.ParsleyConfig = { excluded: "input[type=button], input[type=radio], input[type=submit], input[type=reset], input[type=hidden], [disabled], :hidden" };
	</script>
	<script static:src="@{/js/parsley.js}" type="text/javascript"></script>
	<script type="text/javascript">
		// Ajax request status
		$(document).ajaxSend(function(event, request, settings) {

			if ($('#loading-indicator') != null) {
				$('#loading-indicator').show();
			}
		});

		$(document).ajaxComplete(function(event, request, settings) {

			if ($('#loading-indicator') != null) {
				$('#loading-indicator').hide();
			}			
			
			// Handle session timeout
			if (request.status == '401' || request.status == '403') {	
				
				window.location = window.location;				
			}
		});
	</script>
	<script type="text/javascript"
		th:if="${@environment.getActiveProfiles()[0] == 'prod-amazon'}">
		(function(i, s, o, g, r, a, m) {
			i['GoogleAnalyticsObject'] = r;
			i[r] = i[r] || function() {
				(i[r].q = i[r].q || []).push(arguments)
			}, i[r].l = 1 * new Date();
			a = s.createElement(o), m = s.getElementsByTagName(o)[0];
			a.async = 1;
			a.src = g;
			m.parentNode.insertBefore(a, m)
		})(window, document, 'script',
				'//www.google-analytics.com/analytics.js', 'ga');
		ga('create', 'UA-62680805-1', 'auto');
		ga('send', 'pageview');
	</script>
</body>
</html>
