<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:remove="all">Applite Platform - User Registration</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<p th:text="#{welcome.message(${name})}">Hello, Applite User!</p>
	<p>
		Congratulations!!! You have been invited to the <b>Applite
			Administration Platform</b> on <span
			th:text="${T(ourfood.utils.DateUtil).getDisplayDate(registrationDate)}">01-01-2015</span>
	</p>

	<div th:switch="${platformUrl}">
		<p th:case='sandboxadmin.applite.in'>
			To activate your account visit <a
				th:href="@{http://sandboxadmin.applite.in/users/validate(token=${resetToken.token}, login=${login})}">here</a>
		</p>
		<p th:case='admin.applite.in'>
			To activate your account visit <a
				th:href="@{http://admin.applite.in/users/validate(token=${resetToken.token}, login=${login})}">here</a>
		</p>
		<p th:case='*'>
			To activate your account visit <a
				th:href="@{http://admin.applite.in/users/validate(token=${resetToken.token}, login=${login})}">here</a>
		</p>
	</div>
	<div>
		<p>
			Once you activate your account, please login with the following
			details and reset your password <br />User ID: <span
				th:text="${login}"></span> <br />Password: <span
				th:text="${password}"></span>
		</p>
	</div>
	<p>
		This link is valid only till <b
			th:text="${T(ourfood.utils.DateUtil).getDisplayDate(resetToken.validTru)}">Today</b>
	</p>
	<p>
		Regards, <br /> <em>Applite Platform Team</em>
	</p>
</body>
</html>