<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title th:remove="all">Template for HTML email with inline image</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <p>
      Hello, User!
    </p>
    <p>
      A new post is titled <b th:text="${post.title}">Post title</b> has been added to your subscribed channel
    </p>
    <hr />
    <p th:text="${post.message}">
    Message
    </p>
    <p>
      Regards, <br />
      <em>The Scanon Team</em>
    </p>
  </body>
</html>