<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:remove="all">Template for HTML email with inline image</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<p th:text="#{welcome.message(${name})}">Hello, Peter Static!</p>
	<p>You have requested a password reset on Scanon site</p>

	<div th:switch="${embeddedUrl}">
		<p th:case='qr3.in'>
			To reset your password visit <a
				th:href="@{http://qr3.in/users/setPassword(resetToken=${resetToken.token}, login=${login})}">here</a>
		</p>
		<p th:case='sandbox.qr3.in'>
			To reset your password visit <a
				th:href="@{http://sandbox.qr3.in/users/setPassword(resetToken=${resetToken.token}, login=${login})}">here</a>
		</p>
		<p th:case='*'>
			To reset your password visit <a
				th:href="@{http://qr3.in/users/setPassword(resetToken=${resetToken.token}, login=${login})}">here</a>
		</p>
	</div>
	<p>
		This link is valid only till <b
			th:text="${#dates.format(resetToken.validTru)}">Today</b>
	</p>
	<p>
		Regards, <br /> <em>The Scanon Team</em>
	</p>
</body>
</html>